h1 {
    text-align: center;
    font-size: 75px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

ul {
    list-style: none;
    display: inline;
    margin-left: 25%;

}

li {
    display: inline;
    padding-right: 10%;
    text-align: cente;

}

li:hover {
    background: linear-gradient(to right, #b304b9, #59015c);
}

footer {
    background: linear-gradient(to right, #5de0e6, #004aad);
    text-align: center;
}

table, tr, td{
    margin-top: 2%;
    border-color: white;
    border: 1px solid;
    border-collapse: collapse;
    padding-block: 1%;
}

table {
    background: linear-gradient(to right, #5de0e6, #004aad);
}


#body_bck {
    background-image: url("../images/fond/hex-textures-networking.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    color: white;
}

#logo {
    display: block;
    width: 15%;
    margin: auto;
  }

#nav_bck {
    background: linear-gradient(to right, #5de0e6, #004aad);
    padding-block: 5px;
}

#nav_link {    
    text-decoration: none !important;
    color: white;
}

#body_section {
    text-align: center;
    background: linear-gradient(to right, #5de0e6, #004aad);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

#para_align {
    text-align: justify;
    padding-inline: 10%;
    font-size: 20px;
}

#form_pseudo_email {
    margin-left: 5%;
    text-align: start;
    display: inline;
    float: left;
    font-size: 25px;    
    padding-top: 0.75%;
}

#form_mdp {
    text-align: end;
    margin-right: 5%;    
    font-size: 25px;
}

#form_jeux_submit {
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}

#form_in_pseudo {
    padding-bottom: 15px;
}

#form_in_email {
    padding-bottom: 15px;
    padding-top: 5%;
}

#form_in_mdp {
    padding-bottom: 15px;
}

#form_in_mdp_verif {
    padding-top: 15px;
}

#form_in_dup {
    margin-bottom: 15px;
    margin-right: 225px;
}

#form_in_jeux {
    padding-bottom: 15px;
    padding-right: 68px;
}

#form_in_descriptions {
    margin-right: 3px;
    padding-bottom: 15px;
}

#form_in_submit {
    padding-bottom: 15px;
}

#button_style {
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    background-color: white;
    border-color: rgba(0, 255, 94, 0.571);
}

#button_style:hover {
    background-color: #04b943;
    transition-duration: 3s;
}

#compteur {
    font-size: 20px;
    margin-left:  165px;
}



.img_icone {
    display: inline;
    width: 10%;
    padding-inline: 5%;
}

.img_icone_form {
    display: inline;
    width: 3%;
    padding-inline: 5%;
}

.btn-supprimer-champ {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.champ-jeux-supplementaire {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
}